.page-home {
  h5 {
    font-weight: 388;
    margin-bottom: 15px;
  }

  .jumbotron {
    margin-top: 20px;
  }

  .menu {
    margin-top: 85px;
  }

  .service {
    margin-top: 85px;
  }

  .contact {
    margin-top: 110px;
  }

  .nana-one {
    margin-left: 1300px;
  }

  .nana-two {
    margin-left: 165px;
  }
}
